body{
    background-image: url('./netflixlibrary.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur()

}
div{
    background-color: black;
    position: absolute;
    left: 527px;
    top: 90px;
    width: 450px;
    height: 660px;
    opacity: 0.8;
    border-radius: 1%;
}
.netflix11{
    position: absolute;
    bottom: 630px;
    left: 13px;
    height: 145px;
    width: 225px;
}
h1{
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    position: absolute;
    left: 595px;
    top: 130px;
}
.emailorphonenumber{
    position: absolute;
    left: 595px;
    top: 220px;
    width: 318px;
    height: 50px;
    background-color: rgb(61, 61, 61);
    border-radius: 5%;
    padding-left: 16px;
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.password{
    position: absolute;
    left: 595px;
    top: 300px;
    width: 318px;
    height: 50px;
    background-color: rgb(61, 61, 61);
    border-radius: 5%;
    padding-left: 16px;
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.Signin{
    position: absolute;
    left: 597px;
    top: 380px; 
    width: 320px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    background-color: rgb(229, 9, 20);
    border:rgb(255, 0, 0);
}
.checkbox{
    position: absolute;
    left: 590px;
    top: 440px; 
    width: 18px;
    height: 18px;
}
.remember{
    position: absolute;
    left: 627px;
    top: 431px;
    font-size: 14px;
    color: rgb(189, 189, 189);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.need{
    position: absolute;
    left: 845px;
    top: 445px;
    color: rgb(189, 189, 189);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.facebook{
    position: absolute;
    left: 593px;
    top: 510px; 
    width: 20px;
    height: 20px;
}
.loginwith{
    position: absolute;
    left: 622px;
    top: 500px; 
    color: rgb(112, 112, 112);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.new{
    position: absolute;
    left: 593px;
    top: 535px;
    color: rgb(129, 129, 129);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.signup{
    position: absolute;
    left: 708px;
    top: 550px;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.this{
    position: absolute;
    left: 595px;
    top: 574px;
    color: rgb(129, 129, 129);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.learn{
    position: absolute;
    left: 735px;
    top: 590px;
    color: rgb(52, 52, 255);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
}